@import 'src/assets/scss/_mixins.scss';
@import 'src/assets/scss/_variables.scss';

.my-files {
  padding: 12px 36px 24px;
  &__header {
    @include flex(space-between, center);
    margin-bottom: 36px;
  }
  &__title {
    @include text(Arial, 20px, $black-0c, 600);
    text-transform: uppercase;
  }
  &__upload-file-btn {
    @include flex(null, center);
    &__icon {
      width: 16px;
      height: 16px;
      margin-right: 6px;
      color: $white;
    }
    &__label {
      @include text(Arial, 11px, $white, 600);
      text-transform: uppercase;
    }
  }
  &__list {
    height: calc(100vh - 217px);
    overflow-y: scroll;
    padding-right: 28px;
    /* width */
    &::-webkit-scrollbar {
      width: 4px;
      border-radius: 4px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $white-smoke;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $navy-blue;
      border-radius: 2px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $navy-blue;
    }
  }
  &__item {
    padding-top: 8px;
    padding-bottom: 8px;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
}
