@import 'src/assets/scss/_mixins.scss';
@import 'src/assets/scss/_variables.scss';

.default-input {
  position: relative;
  &__label {
    @include text(Arial, 12px, $nobel, 600);
    margin-bottom: 6px;
  }
  &__box {
    @include input(8px 12px, 6px, transparent, calc(100% - 24px - 4px));
    @include text(Arial, 14px, $zambezi);
    border: 2px solid $whisper;
    margin-bottom: 2px;
    &--password {
      width: calc(100% - 44px - 4px);
      padding-right: 32px;
    }
  }
  &__secure {
    @include button(0 0, 0, transparent);
    margin-top: 3px;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translate(0, -50%);
    &__icon {
      width: 13.5px;
      color: $zambezi;
    }
  }
  &__error {
    @include text(Arial, 11px, transparent, 500);
    &.active {
      color: $amaranth;
    }
  }
}
