// List Variables Color
$white: #ffffff;
$dodger-blue: #078ae5;
$whisper: #eaeaea;
$zambezi: #606060;
$nobel: #9b9b9b;
$black: #111111;
$amaranth: #dc3545;
$night-rider: #363535;
$azure: #fbfcfc;
$medium-blue: #000dd4;
$spun-pearl: #a9a3b3;
$snow: #f9f9f9;
$red: #ff1111;
$pink-swan: #b8b8b8;
