@import 'src/assets/scss/_mixins.scss';
@import 'src/assets/scss/_variables.scss';

.login-page {
  @include flex(center, center);
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  &__square {
    width: 32%;
    padding-bottom: 32%;
    background: linear-gradient(
      45deg,
      rgba(17, 94, 222, 1) 0%,
      rgba(7, 138, 229, 1) 35%,
      rgba(1, 186, 238, 1) 100%
    );
    border-radius: 20%;
    position: absolute;
    &-left {
      @extend .login-page__square;
      left: 0;
      bottom: 0;
      transform: translate(-50%, -5%) rotate(-125deg);
    }
    &-right {
      @extend .login-page__square;
      right: 0;
      top: 0;
      transform: translate(40%, -40%) rotate(25deg);
    }
  }
  &__main {
    width: 348px;
    position: absolute;
    top: 50%;
    transform: translate(0, calc(-50%));
  }
  &__title {
    @include text(Arial, 18px, $night-rider, 600);
    text-align: center;
    margin-bottom: 36px;
  }
  &__login-btn {
    min-width: 110px;
    &__label {
      @include text(Arial, 14px, $white, 600);
    }
  }
  &__form {
    &__email,
    &__password {
      margin-bottom: 12px;
    }
    margin-bottom: 10px;
  }
  &__new-account {
    @include text(Arial, 12px, $night-rider, 500);
    &__link {
      @include link(Arial, 12px, $navy-blue);
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
