@import 'src/assets/scss/_mixins.scss';
@import 'src/assets/scss/_variables.scss';

.sidebar {
  @include flex(space-between, null, column);
  width: 280;
  height: 100vh;
  background: $snow;
  &__logo {
    padding-top: 24px;
    padding-left: 24px;
    margin-bottom: 32px;
    &__text {
      @include text(Arial, 18px, $night-rider, 600);
    }
  }
  &__main {
    padding: 24px 24px 0;
  }
  &__nav {
    &-bar {
      @include list();
      padding-left: 24px;
    }
    &-item {
      padding-bottom: 16px;
      padding-top: 16px;
      &__link {
        @include link(Arial, 14px, $spun-pearl);
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1px;
        &.active {
          color: $night-rider;
        }
      }
    }
  }

  &__others {
    &__storage {
      padding: 12px 24px;
      margin: 24px;
      border-radius: 24px;
      background-color: $medium-blue;
      &__used {
        @include text(Arial, 12px, $azure, 600);
        text-align: center;
        text-transform: uppercase;
      }
    }
    &__collapse {
      @include flex(flex-end);
      padding: 12px 24px;
    }
  }
}
