@import 'src/assets/scss/_mixins.scss';
@import 'src/assets/scss/_variables.scss';

.login-page {
  @include flex(center, center);
  &__square {
    width: 32%;
    padding-bottom: 32%;
    background: linear-gradient(
      45deg,
      rgba(17, 94, 222, 1) 0%,
      rgba(7, 138, 229, 1) 35%,
      rgba(1, 186, 238, 1) 100%
    );
    border-radius: 20%;

    position: absolute;
    &-left {
      @extend .login-page__square;
      left: 0;
      bottom: 0;
      transform: translate(-50%, -5%) rotate(-125deg);
    }
    &-right {
      @extend .login-page__square;
      right: 0;
      top: 0;
      transform: translate(40%, -40%) rotate(25deg);
    }
  }
  &__main {
    width: 348px;
    position: absolute;
    top: 50%;
    transform: translate(0, calc(-50%));
  }
  &__title {
    @include text(Arial, 18px, $black, 600);
    margin-bottom: 36px;
    text-align: center;
  }
  &__login-btn {
    min-width: 110px;
    &__label {
      font-weight: 600;
    }
  }
  &__form {
    &__email,
    &__password {
      margin-bottom: 12px;
    }
  }
}
