@import 'src/assets/scss/_mixins.scss';
@import 'src/assets/scss/_variables.scss';

.my-files {
  &__file-item {
    @include flex(null, center);
    padding: 16px;
    border: 2px solid $white-smoke;
    border-radius: 8px;
    &__delete {
      &-action {
        padding: 10px 16px;
      }
      &-btn {
        @include button(0, 0, transparent);
      }
      &-icon {
        width: 18px;
        height: 18px;
        color: $very-light-grey;
      }
    }
    &__main {
      @include flex(space-between, center);
      flex: 1;
      border-left: 2px solid $white-smoke;
      margin-left: 16px;
      padding: 12px 16px 12px 32px;
    }
    &__title {
      @include text(Arial, 13px, $black-0c, 600);
      margin-bottom: 4px;
    }
    &__size {
      @include text(Arial, 13px, $very-light-grey-cc, 600);
    }
    &__download-btn {
      @include flex(null, center);
      &__icon {
        width: 16px;
        height: 16px;
        margin-right: 6px;
        color: $white;
      }
      &__label {
        @include text(Arial, 11px, $white, 600);
        text-transform: uppercase;
      }
    }
  }
}
